h1, h2, h3, h4, h5, h6 {
    /*color: #444;*/
    /*font-weight: 600;*/
    line-height: 1.5;
    margin: 0 0 30px 0;
    font-family: 'Raleway', sans-serif;
}

.startSectionContainer{
    height: 100vh;
}

.feature-box.fbox-bg.fbox-center:first-child {
    margin-top: 48px;
}

.feature-box.fbox-bg.fbox-center {
    margin-top: 68px;
    padding: 68px 30px 30px;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.feature-box.fbox-center {
    padding: 0;
    text-align: center;
}

.feature-box.fbox-bg.fbox-center .fbox-icon {
    position: absolute;
    top: -48px;
    left: 50%;
    margin: 0 0 0 -48px;
}
.feature-box.fbox-center .fbox-icon {
    width: 96px;
    height: 96px;
}

a{
    text-decoration: none !important;
}

.feature-box .fbox-icon {
    display: block;
}

.feature-box .fbox-icon a, .feature-box .fbox-icon i, .feature-box .fbox-icon img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.feature-box.fbox-center.fbox-light .fbox-icon i {
    line-height: 94px;
}

.feature-box.fbox-center .fbox-icon i {
    font-size: 42px;
}

.feature-box.fbox-light .fbox-icon i, .feature-box.fbox-light .fbox-icon img {
    border: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    color: #444;
}

.feature-box .fbox-icon a, .feature-box .fbox-icon i, .feature-box .fbox-icon img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.feature-box .fbox-icon i, .feature-box .fbox-icon img {
    border-radius: 50%;
}

.fbox-effect .fbox-icon i {
    z-index: 1;
    transition: background-color 0.3s, color 0.3s
}

.fbox-effect .fbox-icon i:hover, .fbox-effect:hover .fbox-icon i {
    background-color: #333;
    color: #FFF;
}

.fbox-effect .fbox-icon i:hover:after, .fbox-effect:hover .fbox-icon i:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.fbox-effect .fbox-icon i:after {
    top: -3px;
    left: -3px;
    padding: 3px;
    box-shadow: 0 0 0 2px #333;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.3s, opacity 0.3s;
}

.fbox-effect .fbox-icon i:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.feature-box h3 {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.feature-box h3 span.subtitle {
    display: block;
    margin-top: 5px;
    color: #444;
    font-weight: 300;
    text-transform: none;
}

.btn.button-reveal.button-large {
    padding: 0 32px;
}

body:not(.device-touch) .btn {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

body:not(.device-touch) .btn.button-reveal i, body:not(.device-touch) .btn.button-reveal span {
    -webkit-transition: left 0.3s ease, right 0.3s ease;
    -o-transition: left 0.3s ease, right 0.3s ease;
    transition: left 0.3s ease, right 0.3s ease;
}

.btn.button-reveal {
    padding: 0 28px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}
.btn.button-rounded {
    border-radius: 3px;
}
.btn.button-large {
    padding: 0 26px;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
}
.button-green {
    background-color: #59BA41;
}

.btn.button-reveal i {
    display: block;
    position: absolute;
    top: 0;
    left: -32px;
    width: 32px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    color: #EEEEEE;
}

.btn.button-reveal.button-3d i, .button.button-reveal.button-rounded i {
    border-radius: 3px 0 0 3px;
}

.btn.button-reveal.button-large i {
    left: -38px;
    width: 38px;
    height: 46px;
    line-height: 46px;
}

.btn.button-reveal span {
    display: inline-block;
    position: relative;
    left: 0;
    color: #EEEEEE;
    font-size: 16px;
    line-height: 46px;
}

.btn-3d.button-green:hover, .button-reveal.button-green:hover, .button-border.button-green:hover, .button-border.button-green.button-fill:before {
    background-color: #59BA41 !important;
}

.btn.button-reveal:hover i {
    left: 0;
}

.btn.button-reveal.button-large:hover span {
    left: 19px;
    transition: left 0.3s ease, right 0.3s ease;
}

.btn:hover {
    background-color: #444;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.feature-box.fbox-bg.fbox-center:first-child {
    margin-top: 48px;
}

.feature-box.fbox-bg.fbox-center {
    /* margin-top: 68px; */
    padding: 68px 30px 30px;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}
.feature-box.fbox-center {
    padding: 0;
    text-align: center;
}
.feature-box:first-child {
    /* margin-top: 0; */
}
.feature-box {
    position: relative;}

.button-purple,.button-3d.button-purple:hover, .button-reveal.button-purple:hover, .button-border.button-purple:hover, .button-border.button-purple.button-fill:before {
    background-color: #5D4157 !important;
}
